@charset "EUC-KR";
	a{
		text-decoration: none;
		color: black;
	}
	body{
		font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;
	}
	.chosen{
		font-weight: bold;
		color: color: rgb(34, 34, 34);
		fill: rgb(34, 34, 34);
		background: rgb(242, 242, 242);
	}
	ul{
		padding-left: 20px;
		list-style-type: none;
		font-size: 13px;
		z-index: 1;
	}
	form{
		flex: 1 0 auto;
	}
	li a{
		text-decoration: none;
		display: block;
		line-height: 2.0;
		color: rgb(34, 34, 34);
		fill: rgb(117, 114, 111);
	}
	li a:hover{
		font-weight: bold;
		color: color: rgb(34, 34, 34);
		fill: rgb(34, 34, 34);
		background: rgb(242, 242, 242);
	}
	.cor1_title{
		font-size: 11px;
   		color: rgb(136, 136, 136);
	}
	.foot{
		font-size: 13px;
		color: rgb(136, 136, 136);
		z-index: 3;
		margin-left: 20px;
		bottom: 30px;
		position: fixed;
	}
	.sidebar{
		margin-top: 60px;
		background-color: rgb(250, 250, 250);
		border-right: 1px solid rgb(225, 225, 225);
		box-sizing: border-box;
		width: 200px;
   		height: 100%;
		position: fixed;
		display: fixed;
		float: left;
		flex-direction: column;
		z-index: 0;
		float: left;
	}
	header{
		position: fixed;
		top: 0px;
		width: 100%;
   		height: 68px;
   		background-color: #FFFFFF;
   		border-bottom: 1px solid rgb(225, 225, 225);
   		z-index: 5;
	}
	.cor_menu{
		padding-top: 20px;
		right: 20px;
		position: fixed;
	}
	.menu_item{
		float: left;
		font-weight: bold;
		font-size: 14px;
		padding: 6px 12px;
	}
	.menu_item1{
		color: gray;
	}
	.menu_item1:hover{
		color: rgb(34, 34, 34);
	}
	.direct{
		color: rgb(204, 153, 0);
	}
	.direct:hover{
		color: rgb(179, 142, 34);
	}
	.cor1_btn1{
		width: 30px;
		height: 30px;
		border-radius: 4px;
		cursor: pointer;
		border: lightgrey;
		float: left;
		margin-top: 20px;
		margin-left: 20px;
		background-color: rgba(0, 0, 0, 0.1);
		transition: border-color 0.3s ease 0s;
		position: relative;
	}
	.cor1_btn1:hover::after{
		border: 1px solid rgb(204, 153, 0);
	}
	.cor1_btn1::before{
		position: absolute;
		width: 30px;
		height: 30px;
   		display: block;
	    inset: 0px;
	    background-color: rgb(255, 255, 255);
	    border-radius: 4px;
	    background-image: url(https://down.collabee.co/companyLogoNo/0);
	    background-size: cover;
	    background-position: center center;
	    content: "";
	}
	.samsung::before{
		background-image: url(https://down.collabee.co/companyLogoNo/3104738);
	}
	.cor1_btn1::after{
		position: absolute;
		width: 30px;
		height: 30px;
	    display: block;
	    inset: 0px;
	    border-radius: 4px;
	    content: "";
	    border: 1px solid rgba(0, 0, 0, 0.1);
	    background-color: transparent;
	    transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s;
	}
	h1{
		margin-top: 20px;
		float: left;
		font-size: 18px;
		color: rgb(34, 34, 34);
		margin-left: 8px;
   		white-space: nowrap;
   		overflow: hidden;
   		text-overflow: ellipsis;
	}
	.cor1_btn2{
		flex-shrink: 0;
	    position: relative;
	    width: 38px;
	    height: 38px;
	    border-radius: 50%;
	    padding: 1px;
	    background-color: rgba(0, 0, 0, 0.1);
	    content: "";
	    transition: border-color 0.3s ease 0s;
	    cursor: pointer;
	    border: none;
	}
	.cor1_btn2::before{
		position: absolute;
	    display: block;
	    top: 0px;
	    left: 0px;
	    background-color: rgb(255, 255, 255);
	    transform: translate(1px, 1px);
	    width: 38px;
	    height: 38px;
	    background-image: url(https://down.collabee.co/userProfile/-1);
	    border-radius: 50%;
	    background-size: cover;
	    background-position: center center;
	    content: "";
	}
	.yr::before{
		background-image: url(https://down.collabee.co/userProfile/2972613);
	}
	.cor1_btn2::after{
		position: absolute;
	    display: block;
	    top: 0px;
	    left: 0px;
	    width: 36px;
	    height: 36px;
	    border-radius: 50%;
	    content: "";
	    border: 2px solid rgba(0, 0, 0, 0);
	    transition: border-color 0.3s ease 0s;
	}
	.cor1_btn2:hover::after{
		border-color: rgb(217, 173, 43);
	}
	.nickname{
		display: inline-block;
	    font-size: 14px;
	    font-weight: bold;
	    transition: color 0.2s ease 0s;
	    color: rgb(136, 136, 136);
	    padding-top: 2px;
	    padding-bottom: 2px;
	}
	.nickname:hover{
		color: rgb(34, 34, 34);
	}
	.profile{
		display: flex;
	    flex-direction: row;
	    margin: 22px 22px 0px 24px;
	    padding-bottom: 22px;
	    border-bottom: 1px solid rgb(225, 225, 225);
	}

	
	
	
	
	
	
	html::-webkit-scrollbar {
		width:4px;
	}
	html::-webkit-scrollbar-thumb {
	    height: 70%; /* 스크롤바의 길이 */
	    background-color: #e1e1e1; /* 스크롤바의 색상 */
	    border-radius: 2px;
	}
	html::-webkit-scrollbar-track{
		background-color: white;
	}
	/* .imgs{
		max-width: 100%
		margin-top: -6px; 
		margin-left: -10px;
		display: block;
	} */
	.section1{
		width: 820px;
		padding: 40px 40px 0;
		flex-direction: column;
		margin-left: 200px;
		padding-top: 90px;
		position: absolute;
	}
	.section2{
		width: 820px;
		flex-direction: column;
		position: absolute;
		padding: 40px 40px 0;
		margin-left: 200px;
		margin-top: 150px;
	}
	h2{
		font-size: 14px;
   		font-weight: bold;
   		line-height: 1.57;
   		color: rgb(34, 34, 34);
	}
	.expl{
		display: block;
   		margin-top: 4px;
   		font-size: 12px;
   		line-height: 1.5;
   		color: rgb(83, 83, 83);
	}
	.search{
		width: 800px;
		border: 1px solid rgb(225, 225, 225);
   		font-size: 14px;
   		color: rgb(34, 34, 34);
   		border-radius: 4px;
   		padding: 10px;
   		transition: border-color 0.2s ease 0s;
   		height: 20px;
	}
	input:focus {outline: none; border: 1px solid rgb(204, 153, 0);}
	table{
		width: 800px;
		margin-top: 42px;
		table-layout: fixed;
		border-collapse: collapse;
	}
	th{
   		text-align: left;
   		border-bottom: 1px solid rgb(225, 225, 225);
   		font-size: 12px;
   		font-weight: bold;
   		line-height: 1.5;
   		color: rgb(34, 34, 34);
   		padding: 6px 6px 8px 8px;
	}
	td{
		padding: 10px 0px 10px 8px;
	    border-bottom: 1px solid rgb(225, 225, 225);
	    text-align: left;
	    font-size: 14px;
	    line-height: inherit;
	    color: rgb(34, 34, 34);
	    padding-right: 8px;
	}
	.btn3{
		cursor: pointer;
		background-color: transparent;
	    text-decoration: none;
	    display: inline-block;
	    vertical-align: middle;
	    fill: rgb(136, 136, 136);
	    border: none;
	}
	.btn3:hover{
		filter: brightness(80%);
		transition: transform 10s;
	}
	#div_background {
		/* display: block; */
		display: none;
		z-index: 100;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom : 0;
		width: 100%;
		height: 100%;
		/* background-color: rgba(0,0,0,0.5); */
		background-color: transparent;
	}
	#divToggle1 {
		/* display: block; */
		display: none;
		position: absolute;
		background-color: white;
	    z-index: 101;
	}
	.menubar{
		display: block;
		border: none;
		font-size: 13px;
	    line-height: 1.54;
	    color: rgb(34, 34, 34);
	    background-color: rgb(255, 255, 255);
	    padding: 5px 0px 5px 18px;
	    text-align: left;
	    cursor: pointer;
	    width: 100%;
	}
	.menubar:hover{
		filter: brightness(90%);
		transition: transform 10s;
	}
	.selection{
		width: 190px;
	    flex-direction: column;
	    border-radius: 4px;
	    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 2px;
	    background-color: rgb(255, 255, 255);
	    padding: 12px 0px;
	}
	.menubar_svg1{
		vertical-align: middle;
	    margin-left: 16px;
	    display: inline-block;
	    fill: rgb(217, 173, 43);
	}