@charset "EUC-KR";
	body, html {
    	height: 100%;
    	margin: 0px;
    	overflow-y: hidden;
    	overflow-x: hidden;
	}
	*{
		font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;
	}
	a{
		text-decoration: none;
		color: black;
	}
	button{
		border: none;
	}
	.close{
	    margin-top: -51px;
	    margin-left: 22px;
    }
    .btn0{
	    min-width: inherit;
	    min-height: inherit;
	    padding-left: 0px;
	    padding-right: 0px;
	    transition: fill 0.2s ease 0s;
	    cursor: pointer;
	    pointer-events: auto;
	    width: auto;
	    background-color: transparent;
	    text-decoration: none;
	    fill: rgb(255, 255, 255);
    }
    .close2{
	    display: inline-block;
	    vertical-align: middle;
	    shape-rendering: inherit;
	    transition: fill 0.2s ease 0s;
    }
    .btn0:hover{
    	fill: rgb(217, 173, 43);
    }
    .layout{
		display: flex;
	    flex-direction: row;
	    width: 100vw;
	    height: 100vh;
	    background-color: rgb(255, 255, 255);
	}
	.layout2{
		position: relative;
	    width: 240px;
	    background-color: black;
	    flex: 0 0 auto;
	    display: flex;
	    flex-direction: column;
	    -webkit-box-align: stretch;
	    align-items: stretch;
	    padding-top: 72px;
	    z-index: 1;
	    opacity: 0.9;
	}
	main{
		position: absolute;
	    top: 0px;
	    right: 0px;
	    width: calc(100% - 200px);
	    height: 100vh;
	    background-color: rgb(255, 255, 255);
	    z-index: 10;
	}
	header{
		height: 86px;
	    padding-top: 18px;
	    margin-left: 20px;
	    margin-right: 20px;
	    border-bottom: 1px solid rgb(225, 225, 225);
	    display: flex;
	    flex-direction: column;
	    -webkit-box-pack: justify;
	    justify-content: space-between;
	    min-width: 488px;
	}
	.header1{
		display: flex;
	    flex-direction: row;
	    -webkit-box-pack: justify;
	    justify-content: space-between;
	}
	h2{
		font-size: 22px;
	    font-weight: bold;
	    color: rgb(34, 34, 34);
	    padding-left: 20px;
	    margin-top: 0px;
	}
	#bnt1_cal{
        display:flex;
    }
    #searchbar::placeholder{
        color: rgb(193, 193, 193);
    }
    #searchbar { /*상단 검색창  / 클릭하면 길어지면서 문서작성 버튼 없어짐(할지말지 고민중) */
        will-change: transform;
        background-color: rgba(255, 255, 255, 0);
        height:28px;
        width:144px;
        font-size:13px;
        border-radius:4px;
        border: 1px solid rgb(225, 225, 225);
        transition: border-color 0.2s ease 0s, background-color 0.2s ease 0s;
        margin-right:16px;
        padding:0px 32px;
    }
    #searchbar:hover{
        border-color:rgb(136, 136, 136);
    }
    #searchbar:focus{
        background-color: rgba(255, 255, 255, 0.2);
        border-color:rgb(136, 136, 136);
        width:269px;
    }
    #searchbar::placeholder:hover{
        color:rgb(136, 136, 136);
    }
    #search_icon{
        fill:rgb(224, 221, 217);
        position: absolute;
        transition: fill 0.2s ease 0s;
        -webkit-box-align: center;
        border:none;
        display:flex;
        align-items:center;
        padding-left:10px;
        padding-top:8px;
    }
    #search_icon:hover{
        fill:rgb(136, 136, 136);
    }
    #posting_bnt {/* 상단 문서작성버튼*/
        color: rgb(255, 255, 255);
        font-size: 12px;
        font-weight: 500;
        border-radius: 4px;
        border: 1px solid rgb(217, 173, 43);
        background-color: rgb(217, 173, 43);
        cursor: pointer;
        width: 105px;
        height:28px;
        border:1px solid rgba(255, 255, 255, 0.2);
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.4s ease 0s, fill 0.2s ease 0s, opacity 0.2s ease 0s;
    }
    #posting_bnt:hover{
        background-color: rgb(179, 142, 34);
        border-color: rgb(179, 142, 34);
    }
    .posting_icon{ /*svg 색지정은 fill로!!*/
        fill: rgb(255, 255, 255);
        width:13px;
        height:13px;
    }
    .top_right{
    	display: flex;
	    flex-direction: row;
	    position: relative;
	    align-items: flex-start;
	    margin-right: 250px;
    }
    .menu{
	    display: flex;
	    flex-direction: row;
	    transform: translateY(1px);
	    margin-left: 4px;
	    margin-top: -7px;
	    padding-bottom: 3px;
    }
    .menu1{
	    display: block;
	    height: 26px;
	    font-size: 12px;
	    margin: 0px 16px;
	    padding-top: 10px;
	    border-bottom: 1px solid rgb(34, 34, 34);
	    transition: color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;
	    font-weight: bold;
	    color: rgb(34, 34, 34);
	    cursor: pointer;
    }
    .menu2{
	    display: block;
	    height: 26px;
	    color: rgb(136, 136, 136);
	    font-size: 12px;
	    margin: 0px 16px;
	    padding-top: 10px;
	    border-bottom: 1px solid rgba(34, 34, 34, 0);
	    transition: color 0.2s ease 0s, border-bottom-color 0.2s ease 0s;
	    cursor: pointer;
    }
    .main1{
	    display: flex;
	    flex-direction: row;
	    height: calc(100% - 106px);
	    margin-left: 20px;
    }
    .section1{
	    flex: 1 1 0%;
	    min-width: 650px;
	    height: 100%;
    }
    .aside{
	    /* flex: 0 0 215px;
	    padding: 32px 30px 40px 34px;
	    overflow-y: scroll; */
    }
    .article{
	    flex: 1 1 0%;
	    width: 100%;
	    padding: 0px 20px 0px 0px;
	    overflow-y: auto;
    }
    .article::-webkit-scrollbar {
		width:4px;
	}
	.article::-webkit-scrollbar-thumb {
	    height: 70%; /* 스크롤바의 길이 */
	    background-color: #e1e1e1; /* 스크롤바의 색상 */
	    border-radius: 2px;
	}
	.article::-webkit-scrollbar-track{
		background-color: white;
	}
    .container1{
	    display: flex;
	    flex-direction: column;
	    padding: 14px 20px 14px 12px;
	    border-bottom: 1px solid rgb(225, 225, 225);
    }
    .first{
	    display: flex;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
    }
    .second{
	    transform: translateX(30px);
	    padding-left: 6px;
    }
    .d_style{
	    background-color: transparent;
	    cursor: pointer;
	    display: flex;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
	    transition: fill 0.2s ease 0s;
    }
    .img1{
	    width: 24px;
	    height: 24px;
    }
    .d_title{
	    color: rgb(34, 34, 34);
	    font-size: 14px;
	    line-height: 1.54;
	    transition: color 0.2s ease 0s;
	    word-break: break-all;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
    }
    .wname{
	    font-size: 12px;
	    color: rgb(51, 132, 108);
	    transition: color 0.2s ease 0s;
    }
    .writer{
    	display: inline-block;
    	padding-right: 5px;
    }
    .writer_name{
	    font-size: 12px;
	    color: rgb(136, 136, 136);
	    cursor: pointer;
    }
    .date{
    	font-size: 12px;
    	color: rgb(136, 136, 136);
    }
    .date::before{
	    content: "・";
	    display: inline-block;
	    padding-right: 4px;
    }
   
