@charset "EUC-KR";
	ul {
    	list-style-type: none;
	}
	a{
		text-decoration: none;
		color: black;
	}
	button{
		border: none;
	}
	.home_topright{
    	position: relative;
	    display: flex;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
	    -webkit-box-pack: end;
	    justify-content: flex-end;
	    padding-right: 60px;
    	margin-top: 11px;
    }
    .home_btn11{
    	width: 32px;
	    height: 32px;
	    border-radius: 50%;
	    padding: 1px;
	    background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
        position: relative;
        z-index: 10;
        background-image: url(https://down.collabee.co/userProfile/-1);
	    border-radius: 50%;
	    background-size: cover;
	    background-position: center center;
	    content: "";
    }
    .home_btn21{
    	width: 32px;
	    height: 32px;
	    margin-left: 8px;
	    padding-top: 4px;
	    border-radius: 4px;
	    cursor: pointer;
	    background-color: white;
    }
    .home_btn21:hover{
    	background-color: #f2f2f2;
    }
    .home_btn31{
    	display: flex;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
	    margin-left: 8px;
	    padding: 0px 4px 0px 6px;
	    border-radius: 4px;
	    background-color: white;
	    color: rgb(34, 34, 34);
	    font-size: 13px;
	    line-height: 32px;
	    cursor: pointer;
    }
    .home_btn31:hover{
    	background-color: #f2f2f2;
    }
    .home_number{
    	display: inline-block;
	    padding-left: 4px;
	    padding-right: 4px;
    }
    .home_option{
		position: absolute;
	    display: none;
	    z-index: 101;
	}
	.home_option2{
		width: 290px;
	    border-radius: 4px;
	    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px 2px;
	    background-color: rgb(255, 255, 255);
	}
	.home_option_header{
		flex-shrink: 0;
	    margin-right: 16px;
	    display: flex;
	    flex-direction: row;
	}
	.home_option_btn1{
		margin-top: 17px;
	    margin-left: 27px;
		flex-shrink: 0;
	    position: relative;
	    width: 60px;
	    height: 60px;
	    border-radius: 50%;
	    padding: 1px;
	    background-color: rgba(0, 0, 0, 0.1);
	    content: "";
	    background-image: url(https://down.collabee.co/userProfile/-1);
	    background-size: cover;
	    background-position: center center;
	    transition: border-color 0.3s ease 0s;
	    cursor: pointer;
	}
	.home_option_btn1:after{
		position: absolute;
	    display: block;
	    top: -1px;
	    left: -1px;
	    width: 58px;
	    height: 58px;
	    border-radius: 50%;
	    content: "";
	    border: 2px solid rgba(0, 0, 0, 0);
	}
	.home_option_btn1:hover::after{
		border-color: rgb(217, 173, 43);
	}
	.home_option_ul{
		display: flex;
	    flex-direction: column;
	    -webkit-box-pack: center;
	    justify-content: center;
	    padding-left: 24px;
	}
	.home_option_btn2{
		width: 100%;
	    text-align: left;
	    font-size: 16px;
	    font-weight: bold;
	    line-height: 1.38;
	    margin-left: -7px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow-wrap: normal;
	    overflow: hidden;
	    background-color: transparent;
	    cursor: pointer;
	    transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
	    color: rgb(34, 34, 34);
	    pointer-events: auto;
	}
	.home_option_btn2:hover{
		color: rgb(136, 136, 136);
	}
	.home_option_li{
		font-size: 12px;
	    line-height: 1.5;
	    color: rgb(136, 136, 136);
	    margin-top: 2px;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow-wrap: normal;
	    overflow: hidden;
	}
	.home_option_container{
		border-top: 1px solid rgb(225, 225, 225);
	    padding: 18px 0px;
	    display: flex;
	    flex-direction: column;
	}
	.home_option_container2{
		display: block;
	    color: rgb(34, 34, 34);
	    font-size: 13px;
	    line-height: 1.54;
	    padding: 4px 4px 4px 18px;
	    background-color: rgb(255, 255, 255);
	    transition: background-color 0.2s ease 0s;
	}
	.home_option_container2:hover{
		background-color: rgb(242, 242, 242);
	    cursor: pointer;
	}
	.home_option_btn3{
		outline: 0;
		border: none;
	    box-sizing: border-box;
		text-align: left;
	    display: block;
	    color: rgb(34, 34, 34);
	    font-size: 13px;
	    line-height: 1.54;
	    padding: 4px 4px 4px 18px;
	    background-color: rgb(255, 255, 255);
	    transition: background-color 0.2s ease 0s;
	}
	.home_option_btn3:hover{
		background-color: rgb(242, 242, 242);
	    cursor: pointer;
	}
	.hidden{
		display: none;
	}
	
	#inviteMailListBox {
   		height:300px;
   		overflow: auto;
   	}
   	#inviteMailListBox::-webkit-scrollbar {
           width:5px;
    }
     #inviteMailListBox::-webkit-scrollbar-thumb {
        background-color: #e1e1e1;
        border-radius: 5px;
    }
    #inviteMailListBox::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 5px;
    }    
   	.inviteEmail {
   		font-size: 13px; float:left; margin-top: 3px; margin-left: 8px;
   	}
   	.partnerImg {
   		border-radius: 35px;
   	}
   	.agreeBtn{
   		background-color: white;
           width: 80px; height: 25px;  border: 1px solid #d9ad2b; border-radius: 5px; color:#d9ad2b;
   	}
   	.refuseBtn {
   		background-color: white;
           margin-top: 30px; margin-left: -75px; clear:both; padding: 0px; width: 80px; height: 25px; border-radius: 5px; border: 1px solid rgb(193,193,193); color:gray;
   	}
       .parentsAlarm {
           display: block;
       }
       #partners {
           float: right;
           border-radius: 4px;
           width:200px;
           display: none;
           transform: scale(1, 1) translateZ(0px);
	   		transition: opacity 386ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 257ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	       	box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
	       	outline: none;
		    position: absolute;
		    overflow-y: auto;
		    overflow-x: hidden;
		    height: 662px;
		    background-color: #fff;
		    z-index: 101;
		    position: absolute;
       }
       #partners::-webkit-scrollbar {
       	width:4px;
       }
       #partners::-webkit-scrollbar-trace {
       	background-color: white;
           border-radius: 5px;
       }
       #partners::-webkit-scrollbar-thumb {
       	background-color: rgb(225,225,225);
           border-radius: 5px;
       }
       #partnerSc{
           margin-top: 46px;
       }
       #invitePartner {
           width: 180px;
           height: 30px;
           margin-left: 10px;
           margin-top: 10px;
           border-radius: 5px;
           background-color: #d9ad2b;
           color: white;
           border: none;
       }
       .gray {
           filter: brightness(0) saturate(100%) invert(57%) sepia(1%) saturate(0%) hue-rotate(282deg) brightness(94%) contrast(88%);
       }
       .hideBtn, #inviteXbtn {
           float: right;
           width: 20px;
           height: 20px;
           padding: 0px;
           border:none;
           background-color:white;
       }
       .buttonImg{
           color: #aaa;
           font-size: 28px;
       	font-weight: bold;
       }
       .buttonImg:hover{
        color: black;
        text-decoration: none;
        cursor: pointer;
       }
       #partnerInviteBox {
          top: 74%;
    	  left: -400%;
          z-index: 1000;
    	  position: absolute;
          width: 909px;
		  height: 521px;
		  padding: 20px 32px 32px;
		  display: none;
		  flex-direction: column;
          border-radius: 4px;
          background-color: #fff;
          flex: 0 1 auto;
          box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
       }
       .inviteCancellationBtn {
           background-color: white;
           margin-top: 15px; margin-left: -25px; clear:both; padding: 0px; width: 80px; height: 25px; border-radius: 5px; border: 1px solid rgb(193,193,193); color:gray;
       }
       .retryInvite {
           background-color: white;
           width: 80px; height: 25px;  border: 1px solid #d9ad2b; border-radius: 5px; color:#d9ad2b;
       }
       .chattingMemberPicture {
           width: 32px; 
           height: 32px;
           float: left; 
           border-radius: 35px; 
       }
       .onOffImg {        
           width:8px; 
           float: right;
           border-radius: 35px;
           border: 1px solid gray;
           filter: brightness(0) saturate(100%) invert(92%) sepia(82%) saturate(4726%) hue-rotate(30deg) brightness(112%) contrast(97%);
           background-color: #96fc1f;
           display: block;
       }
       #alarm {
       	display: block;
       }
       .partnerAlarm {
       	margin-left: 10px; margin-top:5px;
       }
       .partnerAlarm > h6 {
       	padding:0px; margin-top: 0px; margin-bottom: 5px;
       }
       .partnerAlarm > div {
       	width: 178px; height:70px; border-bottom:1px solid #c1c1c1;
       }
       .partnerAlarm > div > img{
       	width:25px; float: left; margin-left: 5px;
       }
       .mail {
       	font-size: 13px; float:left; margin-top: 3px; margin-left: 8px; color:#888888;
       }
       #countCorporationP {
       	font-size: 12px; color: gray;"
       }
       #countCorporationP > img {
       	width:14px; height:14px; vertical-align: bottom; margin: 0px; padding: 0px;
       }
       #corporationP {
       	display: block;
       }
       .partnerBox {
      		margin-top: 5px; clear: both; margin-left: 5px; height:40px;
       }
       .partnerPictureBox {
       	float: left; margin-left: 5px; margin-top: 3px;
       }
       .partnerName {
       	font-size: 12px; float: left; width:128px ;
       }
       .partnerEmail {
       	font-size: 12px; color:#888888;
       }
       .partnerInformation{
       	float:left; margin-left: 2px;
       }
       #countAlarm {
       	font-size: 12px; color: gray;
       }
       #countAlarm > button {
       	width: 15px; height: 15px; padding: 0px; vertical-align: center; border:none; background-color: white;
       }
       .gray {
       	width:14px; height:14px; vertical-align: bottom; margin: 0px; padding: 0px;
       }
       #countExternalP {
       	font-size: 12px; color: gray;
       }
       .slideBtn {
       	width: 15px; height: 15px; padding: 0px; vertical-align: center; border:none; background-color: white;
       }
       #search {
       	margin-top: 20px; width:150px; height:25px; border:none; vertical-align: top; border-radius: 5px; padding: 0px;
       }
       #inviteAndSearchBox {
       	width:178px; height: 25px;border:1px solid #c1c1c1; margin-top: 10px; margin-left: 10px; border-radius: 5px; padding: 0px;
       }
       #alarmDiv {
       	margin-left: 10px;
       }
       #countCorporationPDiv {
       	margin-left: 10px; margin-top: 15px;
       }
       #countExternalPDiv {
       	margin-left: 10px; margin-top: 15px; clear:both;
       }
       #invitePartnerBtn {
       	margin-top: 10px; height:30px; width:385px; border:none; border-radius:5px; color:white; background-color:#dab547
       }
       #partnerInviteBox > h4 {
       	margin-top: 0px; color:#dab547; margin-bottom: 10px; float: left;
       }
       #invitePartnerInput {
       	width:380px; height:35px; border:1px solid #d9ad2b; border-radius: 5px;
       	padding-left:5px;
       	box-shadow: rgb(217 173 43) 0px 0px 0px 1px inset, rgb(217 173 43 / 20%) 0px 0px 0px 4px;
       }
       #explanationP1 {
       	margin: 0px; clear: both;
       	font-size: 12px;
	    line-height: 1.5;
	    color: rgb(136, 136, 136);
       }
       #explanationP2 {
       	margin-top: 0px;
       	font-size: 12px;
	    line-height: 1.5;
	    color: rgb(136, 136, 136);
       }
       #explanationP3 {
       	margin: 10px 0px 0px 0px;
       	font-size: 12px;
	    line-height: 1.5;
	    color: rgb(136, 136, 136);
       }
       .explanationP4 {
        font-size: 12px;
	    color: rgb(136, 136, 136);
	    line-height: 1.5;
       }
       #partnerInviteListBox {
       	float:left; margin-left: 30px;
       }
       #partnerInviteListBox > div {
       	border: 1px solid rgb(225, 225, 225); border-radius:5px; height:300px;
       	padding-left : 20px;
       }
       #invitePartnerInputDiv {
       	float:left; border-right: 1px solid #e2e2e2; width:400px; height:350px;
       }
       .inviteList {
       		background-color: #fafafa;
       		border: 1px solid #e0ddd9;
  			border-radius: 15px;
  			width: 200px;
  			height: 20px;
  			padding: 5px;
  			margin-bottom: 5px;
       }
       .inviteList::-webkit-scrollbar {
       		width: 3px;
       }
       .inviteList::-webkit-scrollbar-track {
      		background-color: white;
       		border-radius: 5px;
       }
       .inviteList::-webkit-scrollbar-thumb {
       	background-color: rgb(225,225,225);
           border-radius: 5px;
       }
       .inviteList > img {
       	width: 15px;
       	float:left;
       	margin-left: 5px;
       	margin-top : 2px;
       	filter: brightness(0) saturate(100%) invert(59%) sepia(10%) saturate(15%) hue-rotate(81deg) brightness(90%) contrast(88%);
       }
       .inviteList > span {
       	font-size:12px;
       	color: black;
       	margin-top:0px;
       }
       .inviteList > button {
       	width: 20px;
       	height:19px;
       	margin: 0px 5px 0px 0px;
       	float: right;
       	background-color: #fafafa;
       	border:none;
   	}
   	.partnerMag{
	    display: inline-block;
	    vertical-align: middle;
	    shape-rendering: inherit;
	    fill: rgb(193, 193, 193);
	    margin-left: 5px;
   		margin-top: -3px;
   	}
   	.homehead_background1{
   		display: none;
		z-index: 110;
		position: absolute;
		top: 0px;
	    left: -1600px;
	    right: 0;
	    bottom: 0;
	    width: 1899px;
	    height: 900px;
		background-color: rgba(34, 34, 34, 0.8);
   	}
   	.homehead_background2{
		display: none;
		z-index: 100;
		position: absolute;
		top: 0px;
	    left: -1600px;
	    right: 0;
	    bottom: 0;
	    width: 1899px;
	    height: 900px;
		background-color: transparent;
	}
