@charset "EUC-KR";
		*{
			box-sizing: border-box;
		}
		body{
			font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;
		}
		#homepage_des h2{
			font-size: 36px;
   			font-weight: bold;
    		line-height: 1.11;
			color: rgb(255, 255, 255);
 		    margin: 0px;
		}
		#homepage_des h3{
			display: block;
    		margin-block-start: 1em;
    		margin-block-end: 1em;
    		margin-inline-start: 0px;
    		margin-inline-end: 0px;
		}
		
		.homepage_des_header{
			box-sizing: border-box;
			min-height: 240px;
			background: url(https://cdn.collabee.co/front/collabee.co/hornet/528/static/media/bg-3001-top.f559b0a0.png) center top no-repeat;
			text-align: center;
			display : flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			/* padding: 20px 0px; */
		}
		.features_header_p{
			font-size: 18px;
			line-height: 1.33;
			color: rgb(255, 241, 201);
		}
		
		.content_wrap{
			position: relative;
  		 	padding: 75px 0px;
  		 	width: 1100px;
    		margin: 0px auto;
    		overflow: hidden;
		}
		.float_right{
			float: right;
			width: 380px;
   			padding-top: 70px;
   			min-height: 500px;
		}
		.content_top{
			font-size: 28px;
   			line-height: 1.43;
   			font-weight: normal;
		}
		.content_bottom{
			font-size: 18px;
    		line-height: 1.56;
    		color: rgb(102, 102, 102);
		}
		.img_left{
			/* position: absolute; */
			float: left;
			left: -30px;
		}
		
		.float_left{
			float: left;
			width: 380px;
   			padding-top: 70px;
   			min-height: 500px;
		}
		.img_right{
			/* position: absolute; */
			float: right;
		}
		
		.clear{
			clear: both;
		}
