@charset "EUC-KR";
	a{
		text-decoration: none;
		color: black;
	}
    .dmw{
    	padding-bottom: 8px;
	    display: flex;
	    flex-direction: row;
	    padding-top: 8px;
    }
    .dmw2{
	    color: rgb(34, 34, 34);
	    font-size: 12px;
	    line-height: 1.5;
	    transition: color 0.2s ease 0s;
	    min-width: 0px;
    }
    .aside_title{
    	text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    overflow-wrap: break-word;
    }
    .aside_writer{
    	word-break: break-all;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    color: rgb(136, 136, 136);
    }
    .dmw_icon{
		padding-right: 5px;
		fill: rgb(193, 193, 193);
	}
	.dmw_icon:hover{
		fill: rgb(153, 153, 153);
	}
	*{
		box-sizing: border-box;
	}
	body, div {
		font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
	input, button{
		border:none;
		outline:none;
		box-shadow:none;
	}
	#right_bar{
		background-color: transparent;
		flex: 0 0 auto;
		width: 250px;
		overflow-y: auto;
		height: calc((100vh - 126px) - 38px);
		padding: 42px 0px 20px 14px;
		/* position: absolute;  */
	  	right: 0;
	  	/* top: 155px; */
	}
	.schedule_icon{
		width:17px;
		height:17px;
		padding:8px;
		margin-top:5px;
	}
	.icon_sche1{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: rgb(225,225,225);' viewBox='0 0 24 24'%3E%3Cpath d='M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z' color='%23E1E1E1'%3E%3C/path%3E%3C/svg%3E");
	}
	.icon_sche2{
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: rgb(196,196,196);' viewBox='0 0 24 24'%3E%3Cpath d='M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19a2 2 0 0 0 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z' color='%23E1E1E1'%3E%3C/path%3E%3C/svg%3E");
	}
	.post_schedule{
		padding-bottom: 4px;
		color: rgb(136, 136, 136);
		font-size: 14px;
		line-height: 1.57;
		transition: color 0.2s ease 0s;
	}
	#right_bar ::placeholder{
		border: none;
		border-radius: 0px;
		width: 168px;
		background-color: rgb(255, 255, 255);
		font-size: 12px;
		color:rgb(196,196,196);
		line-height: 1.5;
		margin-bottom: 2px;
	}
	#startD, #endD, input[title="오늘 날짜"], [title="일정제목"]{
		margin-left:7px;
		color: rgb(34, 34, 34);
		font-size: 12px;
		line-height: 1.5;
		transition: color 0.2s ease 0s;
		min-width: 0px;
		cursor:pointer;
	}
	#startD, #endD {
		width:60px;
	}
	input[title="오늘 날짜"]:hover, [title="일정제목"]:hover{
		color:rgba(34, 34, 34, 0.7);
	}   
	.row{
		display:flex;
		flex-direction: row;
	}
	.column{
		display:flex;
		flex-direction:column;
	}
	.scheduleW{
		padding-bottom: 42px;
	}
	.todo_aside_container{
		/* flex: 0 0 250px;
	    height: 100%; */
	    padding-bottom: 42px;
	}
	.todo_aside_filtertitle{
		display: block;
	    font-size: 14px;
	    font-weight: normal;
	    color: rgb(136, 136, 136);
	    margin-top: 0px;
	    margin-bottom: 4px;
	}
	.todo_aside_item{
		display: flex;
	    flex-direction: row;
	    margin-bottom: 8px;
	}
	.todo_aside_item_link{
		display: inline-flex;
	    flex-flow: row wrap;
	    -webkit-box-align: center;
	    align-items: center;
	    color: rgb(34, 34, 34);
	    font-size: 12px;
	    line-height: 1.5;
	    transition: color 0.2s ease 0s;
	    min-width: 0px;
	}
	.todo_aside_iten_btn{
		background-color: transparent;
   		transform: translateY(2px);
	}
	.todo_aside_item_title{
		display: inline-block;
	    padding-right: 5px;
	    word-break: break-word;
	}
	.todo_aside_item_name{
		display: inline-block;
	    word-break: break-all;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	    overflow: hidden;
	    color: rgb(136, 136, 136);
	}
	.todo_ul{
		padding-left: 0px;
    	margin: 0px;
	}
