@charset "EUC-KR";
       body, *{
            font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;
            margin:0;
            padding:0;
            outline: none;
            box-sizing: border-box;
        }
        input, button{
            border:none;
        }
        .modal_sch{
            position:fixed;
            width:100%;
            height:100%;
            background-color:rgba(0, 0, 0, 0.5);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index:100;
        }
        .modal_content_sch{
            background-color: #fff;
            margin:15% auto;
            width:80%;
            box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
        }
        #schedule .closing_bnt{
            display:inline-block;
            padding-left: 0;
            padding-right: 0;
            cursor: pointer;
            transition: fill 0.2s ease 0s;
            background-color: transparent;
            fill: rgb(136, 136, 136);
            border:none;
            min-width: inherit;
        }
        #schedule .closing_bnt:hover{
            fill:rgb(86, 86, 86);
        }
        #schedule .icon_color{
            fill:rgb(136, 136, 136);
        }
        #schedule{
            height: 100%;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #new_schedule{
            display: flex;
            flex-direction: column;
            -webkit-box-pack: justify;
            overflow: hidden;
            background-color: rgb(255, 255, 255);
            width: 580px;
            min-height: 397px;
            max-height: 680px;
            padding: 18px 4px 20px 22px;
            border-radius: 4px;
            box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
        }
        #container1_sch{
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 23px;
            padding-right: 16px;
        }
        #container1_sch span{
            all: unset;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.5;
            color: rgb(136, 136, 136);
        }
        #title_sch{
            overflow-wrap: break-word;
            flex: 0 0 auto;
            /* white-space: break-spaces !important; */
            height: auto;
            width: 505px;
            margin-left: 40px;
            font-size: 22px;
            color: rgb(34, 34, 34);
            line-height: 1.45;
            border: none;
            resize: none;
            align-items: center;
        }
        #title_sch::placeholder{
        	font-size:22px;
            color:rgb(197, 197, 197);
        }
        #date_sel_sch{
            display: flex;
            flex-flow: nowrap;
            -webkit-box-align: center;
            align-items: center;
            flex: 1 1 0%;
            margin-left: 40px;
        }
        #schedule .date_sch{
            /* align-items: center; */
            margin-top: 2px;
            font-size: 16px;
            height: 24px;
            max-width:80px;
            padding: 0px 1px;
            line-height: 24px;
            background-color: transparent;
            cursor: pointer;
            transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
            color: rgb(34, 34, 34);
        }
        #start_date_sch{
            margin-left: 44px;
        }
        #container2_sch{
            border-bottom: 1px solid rgb(225, 225, 225);
            padding-bottom: 24px;
            padding-right:18px;
            margin-bottom: 28px;
            margin-right:30px;
        }
        #schedule .icon_sch{
            margin: 4px 10px 0px 8px;
            /* padding-top: 4px; */
        }
        #schedule .icon2_sch{
            width: 100%;
            cursor: pointer;
            transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
            font-size: 14px;
            border-radius: 4px;
            background-color: transparent;
            color:rgb(136, 136, 136);
            margin-right:30px;
        }
        #attendee_sch{
            display: flex;
            flex-direction: row;
            position: relative;
            min-height: 28px;
        }
        #schedule .picked_attendee{
        	flex-wrap:wrap;
        	display:flex;
        	padding-left: 40px;
        } 
        #schedule .selected_attendee{
            display: flex;
            height: 32px;
            margin: 8px 4px 0px 0px;
            padding: 5px 10px 5px 13px;
            border: 1px solid rgb(224, 221, 217);
            border-radius: 18px;
            background-color: rgb(255, 255, 255);
            font-size: 15px;
            -webkit-box-align: center;
            align-items: center;
            box-sizing: border-box;
            cursor:pointer;
            width: fit-content;
        }
        #attendee_sel_sch{ /*참석자 추가*/
            height: 28px;
            padding-left: 4px;
            font-weight: normal;
            text-align: left;
            line-height: 28px;
        }
        #schedule .attendee_list{ /*누르면 열리는 협업공간 멤버 목록*/
            height:180px;
            width:240px;
            line-height: 2.3;
            cursor: pointer;
            transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
            position:absolute;
            font-size:14px;
            color:rgb(34, 34, 34);
            border:1px solid rgb(247,239,213);
            border-radius:4px;
            padding:1px;
            background-color:#fff;
            margin-left: 36px;
            margin-top:28px;
            overflow: auto;
        }
        #schedule .attendee_list ul{
            list-style: none;
            padding-top: 12px;
            padding-left: 16px;
        }
        .picture_sch{
            width: 20px;
            height:20px;
            border-radius:50%;
            background-color:rgb(255, 255, 255);
            content:"";
            background-size:cover;
            position:absolute;
            margin-top:5px;
        }
        .picture2_sch{ /*picture_sch보다 아래 있어야함*/
            position:unset; 
            margin: 0px 5px 0px 0px;
        }
        #location_sch{
            display: flex;
            flex-direction: row;
            margin-top: 14px;
            align-items: center;
        }
        #location_sch > textarea{
            border-radius: 4px;
            text-align: left;
            height: auto;
            padding-left: 4px;
            line-height: 1.5;
            resize:none;
            border:none;
            overflow:hidden;
        }
        #summary_sch{
            display: flex;
            flex-direction: row;
            margin-top: 14px;
            padding: 3px 3px 0px 0px;
            font-size: 14px;
        }
        #summary_sch > textarea{
            min-height: 50px;
            padding: 2px 4px;
            padding-left:2px;
            overflow-wrap: break-word;
            border:none;
            resize: none;
        }
        #schedule textarea:not(#title_sch)::placeholder{
        	color:rgb(136,136,136);
        }
        /* 위치 맞추기 */
        #schedule footer{
            display: flex;
            flex-direction: row;
            -webkit-box-pack: justify;
            justify-content: right;
            margin-top: 37px;
            padding-right: 20px;
        }
        #schedule .workspace_sel{
            box-sizing: border-box;
            width: 160px;
            border: 1px solid rgb(217, 173, 43);
            border-radius: 4px;
            background-color: rgb(255, 255, 255);
            color:rgb(217, 173, 43);
            padding:6px 0px 6px 15px;
            margin-right:12px;
            text-align: left;
        }
        #schedule .workspace_list{/* 누르면 열리는 공간 목록*/
            display:flex;
            justify-content: right;
            margin-right:90px;
        }
        #schedule .workspace_list ul{ /* 누르면 열리는 공간 목록*/
            position: absolute;
            list-style: none;
            background-color: rgb(255, 255, 255);
            border-radius: 4px;
            width: 160px;
            height:270px;
            border:1px solid #e1e1e1;
            font-size: 14px;
            font-weight: 500;
            color:rgb(34, 34, 34);
            padding:5px 12px;
            line-height: 2.5;
        }
        #schedule .workspace_list ul li:nth-child(1){
            color:rgb(136, 136, 136); 
            font-size: 10.5px; 
            pointer-events: none;
        }
        #schedule .workspace_list li{
            display:flex;
            flex-direction: row;
            align-items: center;
            cursor:pointer;
        }
        #schedule .workspace_list li span{
            margin-left:7px;
        }
        #schedule footer label{
            position:absolute;
            color: rgb(255, 255, 255);
            font-size: 12px;
            font-weight: 500;
            cursor: pointer;
            margin-right: 18px;
            margin-top: 9px;
        }
        #schedule .save_Bnt + label:hover, .save_Bnt:hover{
            background-color: rgb(179, 142, 34);
            border-color: rgb(179, 142, 34);
        }
        #schedule .save_Bnt{
            line-height: 1.5;
            border-radius: 4px;
            padding: 5px 30px;
            transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.4s ease 0s, fill 0.2s ease 0s, opacity 0.2s ease 0s;
            background-color: rgb(217, 173, 43);
            cursor: pointer;
        }
        #schedule .icon3_sch{
            display:inline-block;
            position:absolute;
            margin-right:83px;
            margin-top:5px;
            fill:rgb(217, 173, 43);
        }
       
        ::-webkit-scrollbar {
            width:4px;
            height:4px;
        }
        ::-webkit-scrollbar-thumb {
            height: 20%;  /*스크롤바의 길이*/ 
            background: #e1e1e1; /* 스크롤바의 색상*/ 
            border-radius:2px;
        }
        #schedule .none{
            display:none;
            opacity:0;
        }
        #schedule .hidden{
            visibility:hidden;
            opacity:0;
        }
        #schedule .column{
            display:flex; 
            flex-direction:column;
        }
        .alert{
            background-color:rgb(66,64,63);
            color:rgb(255,255,255);
            font-size:14px;
            width:320px;
            height:auto;
            border-radius:4px;
            position:absolute;
            bottom:0;
            margin:20px;
            padding:10px;
            overflow:auto;
            line-height:1.6;
            display:none;
            z-index:200;
            box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
        }
        .closed{
            float:right;
            cursor:pointer;
        }
