@charset "EUC-KR";
		*{
			box-sizing: border-box;
			margin: 0;
    		padding: 0;
    		border: 0;
    		outline: 0;
		}
		body{
			font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;
			font-size: 13px;
		}
		button{
			border: none;
		    box-sizing: border-box;
		    font-size: 12px;
		    outline: 0;
		}
		a{
			text-decoration: none;
		}
		input{
			background-color: #fff;
		}
         /* main 스타일 시작 */
			.layouts_body{
				position: relative;
			    display: flex;
			    flex-direction: row;
			    -webkit-box-flex: 1;
			    flex-grow: 1;
			    -webkit-box-align: stretch;
			    align-items: stretch;
			    overflow-x: hidden;
			    min-width: 680px;
			}
			.kanban_section{
				display: flex;
			    flex-direction: row;
			    flex: 1 1 auto;
			    overflow-y: auto;
			    box-sizing: border-box;
			    padding: 0px;
			    height: calc((100vh - 126px) - 62px);
			}
			#kanban_container{
				background-color: white;
			    display: inline-flex;
			    flex-direction: row;
			    padding: 20px 20px 10px;
			    height: 100%;
			}
			.layouts_body::-webkit-scrollbar {
				width:4px;
			}
			.layouts_body::-webkit-scrollbar-thumb {
		    height: 70%; /* 스크롤바의 길이 */
		    background: #e1e1e1; /* 스크롤바의 색상 */
		    border-radius: 2px;
			}
			.kanban_view_drag{
				display: flex;
			    flex-direction: row;
			    height: auto;
			    cursor: pointer;
			}
			.kanban_view_right{
				margin-right: 28px;
			    display: flex;
			}
			.kanban_list{
				margin-right: 13px;
			    display: flex;
			    flex: 0 1 244px;
			    flex-direction: column;
			}
			.kanban_list_content{
				background-color: rgb(247, 246, 245);
			    border-radius: 4px;
			    border: 1px solid rgba(0, 0, 0, 0.03);
			    display: flex;
			    width: 244px;
			    flex-direction: column;
			    overflow-y: auto;
			    box-shadow: none;
			}
			.kanban_list_header{
				display: flex;
			    -webkit-box-align: center;
			    align-items: center;
			    -webkit-box-pack: center;
			    justify-content: center;
			    border-top-left-radius: 4px;
			    border-top-right-radius: 4px;
			    height: 38px;
			    padding: 12px 12px 6px;
			    transition: background-color 0.2s ease 0s;
			    background-color: rgb(247, 246, 245);
			}
			.kanban_list_title_container{
				font-size: 13px;
			    -webkit-box-flex: 1;
			    flex-grow: 1;
			    position: relative;
			    display: flex;
			    flex-direction: row;
			}
			.kanban_icon{
				height: 20px;
			    width: inherit;
			    opacity: 1;
			}
			.kanban_icon_img{
				width: 20px;
			    height: 20px;
			} 
       		.kanban_title{
       			display: flex;
			    font-size: 13px;
			    margin-left: 5px;
			    margin-top: 2px;
			    vertical-align: top;
			    font-weight: bold;
			    cursor: pointer;
			    background: inherit;
			    max-width: 148px;
       		}
       		.kanban_name{
       			overflow: hidden;
			    text-overflow: ellipsis;
			    white-space: nowrap;
			    margin-right: 2px;
       		}
       		.kanban_title_right{
       			margin-left: auto;
			    display: flex;
			    flex-direction: row;
			    -webkit-box-pack: end;
			    justify-content: flex-end;
       		}
       		.kanban_title_right>:last-child{
       			margin-left: 4px;
       		} 
       		.kanban_title_right_btn{
       			min-width: inherit;
			    min-height: inherit;
			    padding-left: 0px;
			    padding-right: 0px;
			    transition: fill 0.2s ease 0s;
			    cursor: pointer;
			    pointer-events: auto;
			    width: auto;
			    background-color: transparent;
			    text-decoration: none;
       		}
       	.kanban_title_right_btn_svg{
       		display: inline-block;
			 vertical-align: middle;
			shape-rendering: inherit;
       	}
       	.kanban_title_right_btn_path{
       		transition: fill 0.2s ease 0s;
			fill: rgb(136, 136, 136);
       	}
       	.kanban_title_right_btn_path:hover{
       		fill: rgb(83, 83, 83); 
       	}
       	
       	.kanban_postArea{
       		overflow-y: auto;
		    display: flex;
		    -webkit-box-align: stretch;
		    align-items: stretch;
		    -webkit-box-flex: 1;
		    flex-grow: 1;
		    min-height: 62px;
       	}
       	.kanban_postArea_wrapper{
       		background-color: rgb(247, 246, 245);
		    display: flex;
		    flex-direction: column;
		    opacity: inherit;
		    border: 2px;
		    width: 100%;
		    padding-bottom: 0px;
		    transition: background-color 0.2s ease 0s, opacity 0.1s ease 0s;
		    user-select: none;
		    padding-top: 6px;
		    padding-right: 1px;
		    height: auto;
       	}
		.kanban_dropzone{
			margin: 0px 5px 12px 6px;
		    padding: 0px 6px 2px;
		    display: flex;
		    overflow-y: auto;
		    flex-direction: column;
		    height: 100%;
		    flex: 1 1 auto;
		}
		.kanban_droppable{
			cursor: pointer;
		    overflow: hidden;
		    height: auto;
		}
		.kanban_post_container{
			border-radius: 4px;
		    border: 1px solid rgb(225, 225, 225);
		    background-color: rgb(255, 255, 255);
		    box-shadow: rgb(0 0 0 / 10%) 0px 2px 1px;
		    padding: 8px;
		    min-height: 40px;
		    margin-top: 8px;
		    user-select: none;
		    color: black;
		    display: flex;
		}
		.kanban_post_container:first-child{
			    margin-top: 0px;
		}
		.kanban_icon_post{
			display: inline-block;
		    width: 24px;
		    margin-right: 2px;
		    flex-shrink: 0;
		    -webkit-box-flex: 0;
		    flex-grow: 0;
		}
		.kanban_icon_post_area{
			max-height: 24px;
		    display: block;
		}
		.kanban_icon_post_area_img{
			width: 24px;
		    height: 24px;
		}
		.kanban_content_post{
			-webkit-box-flex: 1;
		    flex-grow: 1;
		    flex-basis: 100%;
		    display: flex;
		    flex-direction: column;
		}
		.kanban_content_post_title{
			white-space: pre-wrap;
		    word-break: break-word;
		    overflow-wrap: break-word;
		    font-size: 14px;
		    line-height: 22px;
		    margin-left: 4px;
		}
		
 	 	.image_frame{ 
			width: 20px;
		    height: 20px;
		    background-image: url("images/kanban_icon_default.png");
		    background-size: cover;
		    background-repeat: no-repeat;
		    padding-top: 2px;
		    display: flex;
		    -webkit-box-align: center;
		    align-items: center;
		    -webkit-box-pack: center;
		    justify-content: center;
		}  
		.kanban_add_btn{
			font-size: 13px;
		    padding: 12px;
		    width: 244px;
		    height: 44px;
		    background-color: rgb(255, 255, 255);
		    border-radius: 4px;
		    border: 1px solid rgb(230, 230, 230);
		    color: rgb(136, 136, 136);
		    cursor: pointer;
		    text-align: left;
		    margin-right: 48px;
		}
		.kanban_add_btn:hover{
			border-color: rgb(193, 193, 193);
		    color: rgb(34, 34, 34);
		    font-weight: bold;
		}
		.kanban_add_btn_svg{
			display: inline-block;
		    vertical-align: middle;
		    shape-rendering: inherit;
		}
		.kanban_add_btn_path{
			fill: rgb(136, 136, 136);
			transition: fill 0.2s ease 0s;
		}
		.kanban_add_column_name{
			display: inline-block;
		    height: 20px;
		    vertical-align: middle;
		    margin-top: -2px;
		    padding: 2px;
		}
		
		#kanban_options{
			display: none;
			z-index: 201;
			position: absolute;
		    top: 0px;
		    left: 0px;
		}
		#div_background {
			display: none;
			z-index: 200;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom : 0;
			width: 100%;
			height: 100%;
			background-color: transparent;
		}
		.kanban_options_container{
			padding-top: 10px;
			
			border-radius: 4px;
		    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 2px;
		    background-color: rgb(255, 255, 255);
		    padding: 12px 0px; 
		    min-width: 160px;
		    max-width: 164px;
		    display: flex;
		    flex-direction: column;
		}
		.kanban_options_des{
			display:none;
		
			font-size: 12px;
		    color: rgb(136, 136, 136);
		    width: 100%;
		    margin: -10px 0px 8px;
		    padding: 12px 16px 8px;
		    border-top-left-radius: 4px;
		    border-top-right-radius: 4px;
		    background-color: rgb(247, 246, 245);
		}
		
		.kanban_options_inner_btn{
			cursor: pointer;
		    font-size: 13px;
		    line-height: 1.54;
		    color: rgb(34, 34, 34);
		    padding: 5px 18px 3px;
		    background-color: transparent;
		    text-align: left;
		}
		.kanban_options_inner_btn:hover{
			background-color: rgb(242, 242, 242);		
		}
		.kanban_oprions_line{
			height: 1px;
		    background-color: rgb(230, 230, 230);
		    margin: 8px 0px;
		}
		
		/* 문서상태추가 모달 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
		
		#kanban_add{
			display: none;
			z-index: 301;
			position: fixed;
		   
		    top: 256px;
    		right: 37px;
		}
		.kanban_add_container{
		    border-radius: 4px;
		    box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px 2px;
		    border: 1px solid rgb(225, 225, 225);
		    background-color: rgb(255, 255, 255);
		}
		.kanban_add_header_title_container{
			height: 50px;
		}
		.kanban_add_header_title{
			font-size: 14px;
		    line-height: 50px;
		    padding-left: 20px;
		    color: rgb(34, 34, 34);
		}
		.kanban_add_btn_x{
			position: absolute;
		    top: 8px;
		    right: 8px;
		    min-width: inherit;
		    min-height: inherit;
		    padding-left: 0px;
		    padding-right: 0px;
		    transition: fill 0.2s ease 0s;
		    cursor: pointer;
		    pointer-events: auto;
		    width: auto;
		    background-color: transparent;
		    text-decoration: none;
		}
		.kanban_add_btn_x:hover{
			fill: rgb(34, 34, 34);
		}
		.kanban_add_header_input_container{
			margin: 0px 20px 2px 22px;
		    padding: 6px;
		    border-radius: 4px;
		    display: flex;
		    flex-direction: row;
		    position: relative;
		    border: 1px solid rgb(193, 193, 193);
		}
		.kanban_add_header_input{
			margin-left: 6px;
		    flex: 1 1 0%;
		    font-size: 13px;
		    line-height: 1.54;
		}
		.kanban_add_content{
			overflow: hidden auto;
		    height: 210px;
		    margin: 5px 15px 0px 8px;
		    width: 270px;
		}
		.kanban_add_content::-webkit-scrollbar {
			width:4px;
		}
		.kanban_add_content::-webkit-scrollbar-thumb {
	    height: 70%; /* 스크롤바의 길이 */
	    background: #e1e1e1; /* 스크롤바의 색상 */
	    border-radius: 2px;
		}
		.kanban_add_content_basecategory{
			padding: 0px 5px;
		    color: rgb(136, 136, 136) !important;
		    font-size: 12px !important;
		    margin-top: 10px;
		}
		.kanban_add_content_baselist{
			margin: 0px 2px 12px;
		}
		.kanban_add_content_baselist_li{
			list-style: none;
		    margin: 0px;
		    padding: 0px;
		    display: inline-block;
		}
		.kanban_add_content_baselist_li_btn{
			width: 36px;
		    height: 36px;
		    position: relative;
		    display: inline-block;
		    padding: 6px;
		    border: none;
		    background: none;
		    box-shadow: none;
		}
		.kanban_add_content_baselist_li_btn:hover:before{ 
			z-index: 0;
		    content: "";
		    position: absolute;
		    top: 0px;
		    left: 0px;
		    width: 100%;
		    height: 100%;
		    background-color: rgb(244, 244, 244);
		    border-radius: 100%;
		}
		.kanban_add_content_baselist_li_btn>*{
			z-index: 1;
		    position: relative;
		    text-align: center;
		    cursor: default;
		    display: inline-block;
		}
		.kanban_add_content_baselist_li_img>img{
		    width: 24px;
    		height: 24px;	
		}
		
		.kanban_add_footer{
			display: flex;
		    -webkit-box-pack: end;
		    justify-content: flex-end;
		    padding: 10px 20px 18px;
		}
		.kanban_add_save_btn{
			height: 28px;
		    padding: 0px 20px;
		    display: flex;
		    flex-direction: row;
		    -webkit-box-align: center;
		    align-items: center;
		    -webkit-box-pack: center;
		    justify-content: center;
		    border: 1px solid rgba(255, 255, 255, 0.2);
		    position: relative;
		    min-height: inherit;
		    color: rgb(255, 255, 255);
		    font-size: 12px;
		    font-weight: 500;
		    line-height: 1.5;
		    border-radius: 4px;
		    text-align: center;
		    padding: 5px 18px;
		    transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.4s ease 0s, fill 0.2s ease 0s, opacity 0.2s ease 0s;
		    border-width: 1px;
		    border-style: solid;
		    border-color: rgb(217, 173, 43);
		    background-color: rgb(217, 173, 43);
		    cursor: pointer;
		    opacity: 1;
		    width: auto;
		    box-shadow: none;
		}
		.kanban_add_save_btn:hover{
			background-color: rgb(179, 142, 34);
		    border-color: rgb(179, 142, 34);
		}
		.kanban_add_save_span{
			display: inline-block;
		    height: 15px;
		    font-size: 12px;
		}
		
		.add_button_right{
			position: fixed;
		    top: 170px;
		    right: 0px;
		    z-index: 1;
		    min-height: 36px;
		    background-color: rgb(51, 132, 108);
		    transform: rotate(90deg) translateX(100%) translateY(35px);
		    transform-origin: 100% 100%;
		    cursor: pointer;
		    box-shadow: rgb(0 0 0 / 30%) 0px 4px 8px 0px;
		    border-bottom-right-radius: 6px;
		    border-bottom-left-radius: 6px;
		}
		.add_button_name{
			font-size: 13px;
		    font-weight: bold;
		    margin: 10px 20px;
		    height: 16px;
		    color: rgb(255, 255, 255);
		}
		/* 스크롤 */
		
		
		/* test */
		 .itemBoxHighlight {
        border:solid 1px black;
        width:200px;
        height:30px;
        background-color:yellow;
    }
    	
		
