@charset "EUC-KR";
    	.chattingInviteParterList {
    		display:none;
    	}
    	.pptx {
        	filter: brightness(0) saturate(100%) invert(27%) sepia(86%) saturate(1088%) hue-rotate(346deg) brightness(106%) contrast(105%); 
        } 
        .xlsx {
        	filter: brightness(0) saturate(100%) invert(30%) sepia(14%) saturate(1966%) hue-rotate(77deg) brightness(98%) contrast(86%);
        }
        .zip {
        	filter: brightness(0) saturate(100%) invert(21%) sepia(57%) saturate(867%) hue-rotate(238deg) brightness(91%) contrast(92%);
        }
        .docx {
        	filter: brightness(0) saturate(100%) invert(31%) sepia(7%) saturate(3352%) hue-rotate(160deg) brightness(94%) contrast(92%);
        }
        .pdf {
        	filter: brightness(0) saturate(100%) invert(10%) sepia(88%) saturate(5623%) hue-rotate(343deg) brightness(71%) contrast(114%);
        }
        .etc {
        	filter: brightness(0) saturate(100%) invert(62%) sepia(3%) saturate(12%) hue-rotate(47deg) brightness(85%) contrast(91%);
        }
        .img {
        	filter: brightness(0) saturate(100%) invert(42%) sepia(100%) saturate(809%) hue-rotate(360deg) brightness(105%) contrast(107%);
        }
    	.messageProfile {
    		border-radius:35px;
    	}
    	.Cname, .chattingMessage{
    		padding:0px 5px;
    	}
        body{
            margin:0px;
            padding: 0px;
        }
        #right {
            float:left;
            width:236px;
            height:400px;
            margin: 0px;
           	display:none;
        }
        #top {
            position:fixed;
            width:236px;
            background-color: #393731;
            margin: 0px;
        }
        #bottom {
            margin-top: 76px;
            float:left;
            width:236px;
            background-color: #393731;
            height:400px;
            overflow:auto;
        }
        #bottom::-webkit-scrollbar {
            width: 5px;
        }
        #bottom::-webkit-scrollbar-track {
            background-color: #393731;
            border-radius: 5px;
           
        }
        #bottom::-webkit-scrollbar-thumb {
            background-color: gray;
            border-radius: 5px;
        }
        #alarm {
            width: 20px;
            height: 20px;
            padding: 0px;
            margin: 0px 0px 0px 35px;
            border:none;
            background-color: #393731;
            float:right; 
            margin-right: 10px;
        }
        .title {
            color: gray;
            font-size: 12px;
            margin-bottom: 0px;
        }
        .chatting_title {
            margin-left: 8px;
            margin-bottom: 8px;
        }
        .chatting_room_name {
            margin:0px;
            padding: 2px 5px 2px 5px;
            color:white;
            cursor: pointer;
            border-radius: 5px;
            font-size:12px;
        }
        .chatting_partner {
            margin:0 0 0 0;
            padding: 0px;
            color:white;
            cursor: pointer;
            font-size:12px;
        }
        #chatting_top {
            position:fixed;
            width: 400px;
            height: 40px;
            border-bottom: 1px solid gray; 
            z-index: 1;
        }
        #chatting_middle {
            width: 400px;
            height: 470px;
            padding: 0;
            overflow:auto;
        }
        #chatting_middle::-webkit-scrollbar {
            width: 5px;
        }
        #chatting_middle::-webkit-scrollbar-track{
            background-color: white;
            border-radius: 5px;
        }
        #chatting_middle::-webkit-scrollbar-thumb{
            background-color: gray;
            border-radius: 5px;
        }
        #chatting_bottom {
            width:400px;
            height: 70px;
            position: fixed;
        }
        .chatting_name {
            float:left;
            margin-top: 3px;
        }
        #down_button {
            filter: brightness(0) saturate(100%) invert(0%) sepia(1%) saturate(5580%) hue-rotate(332deg) brightness(95%) contrast(92%);
        }
        #documentwrite {
            margin-top: 6px; 
            background-color: rgb(217,173,43);
            text-align: center;
            border-radius: 4px;
            border: 1px solid rgba(255, 255, 255, 0.2); 
            width: 75px;
            height: 25px;
        }
        .file_link_img {
            width:20px; 
            height: 20px; 
            vertical-align: bottom; 
            filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(0%) hue-rotate(51deg) brightness(98%) contrast(97%);
        }
        #chattingFileBtn {
            margin-right: -4px;
        }
        #chattingFileBtn #chattingLinkBtn {
            border-radius: 5px;
        }
        .message {
            margin-left: 2px;
            margin-top: 10px;
            font-size: 12px;
            clear: both;
            width:393px;
            height:40px; 
        }
        .documentWriteClickAfterBanner {
       		padding: 5px;
       		display:none;
       	}
       	.documentWriteClickAfterBanner > span {
       		font-size : 12px;
       	}
        #chattingRoomInformation{
            margin-left: 60px;
            height:120px;
            width:180px;
            border-radius: 5px;
            border: 1px solid gray;
            background-color: white;
            font-size: 12px;
            display: none;
        }
        #participants {
            overflow: auto;
            width:180px; 
            height:57px; 
            border-radius: 10px;
        }
        #participants::-webkit-scrollbar{
            width: 2px;
        }
        #participants::-webkit-scrollbar-thumb{
            border-radius: 2px;
            background-color: black;
        }
        #participants::-webkit-scrollbar-track{
            border-radius: 2px;
        }
        #alarmSetting {
            margin-left: 180px;
            margin-top:-30px;
            font-size:10px; 
            border-radius: 5px; 
            border: 1px solid gray; 
            width:130px; 
            background-color: white;
            display: none;
        }
        #alarmBtn {
            border: none; font-size:10px; margin:0px; padding:0px; border-radius: 5px; 
            background-color: white; height:30px;
        }
        #make_chatting_room {
            border: none; 
            background-color:#393731; 
            margin-left: 130px;
        }
        .mainAlarm {
            padding:5px 10px 5px 10px;
            width:190px; 
            height:auto; 
            border:1px solid gray; 
            border-radius:5px;
            display: none;
        }
        #chattingOnOff {
            border: 1px solid black; 
            width:400px; height:600px; 
            margin: 0px; padding: 0px; 
            border-radius: 4px;
            display: none;
        }
        #make_chatting_room > img {
       		width:18px; background-color: #393731; vertical-align: bottom;
       	}
       	#down_button {
       		width:18px; vertical-align: bottom;
       	}
       	.participantsImg {
       		width:15px; margin-left: 10px; border-radius: 35px; border:1px solid gray; vertical-align: top;
       	}
       	#participants > p {
       		margin-left: 10px; font-size: 10px; margin-bottom: 2px;
       	}
       	.closeInviteBox > img {
       		filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(288deg) brightness(94%) contrast(108%);
       	} 
       	.xbutton > img {
       		filter: brightness(0) saturate(100%) invert(0%) sepia(50%) saturate(4692%) hue-rotate(129deg) brightness(99%) contrast(96%);
       	}
       	.xBtn {
       		width:20px; height:20px; padding: 0px; float: right; margin-right:15px; margin-top: 2px; border:none; background-color: white;
       	}
       	.xBtn > img {
       		filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(7500%) hue-rotate(288deg) brightness(94%) contrast(108%); width:20px;
       	}
       	#messagerFiles > input {
       		margin-left:20px; margin-top: 10px; width: 250px;
       	}
       	.chattingFile > div > img {
       		width:30px
       	}
        .mainAlarmBtn {
            width: 200px;
            margin-top: 5px;
            font-size: 12px;
            background-color: white;
            border: none;
            text-align: left;
        }
        #xbutton {
            width: 20px; 
            height:20px; 
            margin-left: 378px; 
            margin-top: 2px; 
            margin-bottom: 2px; 
            padding: 0px;
        }
        .xbutton {
        	float: right;
        	width: 20px; 
            height:20px; 
            margin-left: 375px; 
            margin-top: 2px; 
            margin-bottom: 2px; 
            padding: 0px;
            margin-top: -16px;
  			border: none;
    		background-color: white;
        }
        #chattingRoomInformationBtn {
            height:30px; text-align: center; border: none; background-color: white;
        }
        #chattingFiles {
            width:300px;
            height: 532px;
            border-radius: 5px; 
            margin-top: 5px;
            overflow: auto;
        }
        #chattingFiles::-webkit-scrollbar {
            width: 1px;
        }
        #chattingFiles::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #393731;
        }
        #chattingFiles::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: white;
        }
        .chattingFile {
            width:270px;
            height: 45px;
            border-bottom: 1px solid rgb(142,142,142);
            padding: 10px 10px 0px 19px;
            margin-bottom: 1px;
        }
        .fileInformation {
            width: 205px;
            padding: 0px;
            margin: 0px;
            font-size: 11px;
            margin-left: 5px;
            height:15px;
            white-space: nowrap;
            overflow: hidden;   
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
        }
        #messengerFiles {
            float: left; 
            width:300px; 
            height:600px; 
            border:1px solid black; 
            border-radius:5px;
            display: none;
        }
        #messengerFiles > input {
        	margin-left: 20px;
    		width: 265px;
    		margin-top: 5px;
        }
        #messengerLinks {
            float: left; 
            width:300px; 
            height:600px; 
            border:1px solid black; 
            border-radius:5px;
            display: none;
        }
        #chattingLinks {
            width:300px;
            height: 532px;
            border-radius: 5px; 
            margin-top: 5px;
            overflow: auto;
        }
        #chattingLinks::-webkit-scrollbar {
            width: 1px;
        }
        #chattingLinks::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background-color: #393731;
        }
        #chattingLinks::-webkit-scrollbar-track {
            border-radius: 5px;
            background-color: white;
        }
        .chattingLink {
            width:270px;
            height: 70px;
            border-bottom: 1px solid rgb(142,142,142);
            padding: 10px 10px 0px 19px;
            margin-bottom: 1px;
        }
        .chattingProfileImg {
            width:15px;
            vertical-align: bottom;
            border-radius: 35px;
        }
        .chattingMemberPicture {
            width:20px; 
            float: left; 
            border-radius: 35px; 
            height: 20px;
        }
        .onOffImg {        
            width:5px; float: right;
            border-radius: 35px;
            border: 1px solid gray;
            filter: brightness(0) saturate(100%) invert(92%) sepia(82%) saturate(4726%) hue-rotate(30deg) brightness(112%) contrast(97%);
            background-color: #96fc1f;
            display: block;
        }
        #alarmOn {
			width:130px; font-size: 10px; border: none; background-color:white; border-radius: 5px; margin-top: 5px; color:#d9ad2b
		}
		#alarmOn > img {
			width:15px;  vertical-align: top;
		}
		#alarmOff {
			width:130px; font-size: 10px; text-align: left; border: none; background-color:white; border-radius: 5px;
		}
		#alarmOff > img {
			width: 17px; margin-left: 3px; vertical-align: top; margin-top: -5px;
		}
		#alarmSetting > p {
			margin-top:5px; margin-left: 10px; margin-bottom: 0px;
		}
		#documentwrite > span {
			color:white; font-size: 12px;
		}
		.message > div {
			float:left;
		}
		.message > div > img {
			width:30px; height:30px; filter: brightness(0) saturate(100%) invert(54%) sepia(0%) saturate(0%) hue-rotate(51deg) brightness(98%) contrast(97%);
		}
		.chattingDateTime {
			text-align: center; font-size: 10px;
		}
		.chattingDateTime > span {
			border: 1px solid rgb(245,245,245); background-color:rgb(245,245,245); border-radius:10px; padding: 0px 5px 0px 5px;
		}
		#chatting_bottom > input {
			margin: -32px 16px 16px 27px ; width:360px; height:30px; font-size: 12px; border-radius: 5px;
		}
		.inviteChattingRoom{
	    	border: 1px solid black;
	    	width:400px;
	    	height:500px;
			margin-left: 180px;
			background-color: white;
			border-radius:5px;
			padding: 10px 15px;		
			overflow:auto;
			display:none;
    	}
    	.inviteChattingRoom::-webkit-scrollbar {
    		width:1px;
    	}
    	.inviteChattingRoom::-webkit-scrollbar-trace {
    		border-radius: 5px;
      		background-color: #white;
    	}
    	.inviteChattingRoom::-webkit-scrollbar-thumb {
    		border-radius: 5px;
      		background-color: #393731;
    	}
    	.inviteChattingRoom h2 {
    		margin-top:0px;
    	}
    	.inviteChattingRoom p {
    		color:gray;
    	}
    	#inviteSearchPartner {
    		width:300px; height:20px; border-radius:5px; border: 1px solid rgb(208,208,208);
    	}
    	#inviteBtn {
    		color:white; background-color:rgb(217,173,43); border-radius:5px; width:75px; height:27px; border:none; font-size: 12px; margin-left:5px;
    	}
    	#invitePartnerList {
    		width: 284px; height: 100px; border: 1px solid rgb(208,208,208); border-radius:5px; padding:0px 10px 10px 10px;
    		overflow: auto;
    		display:none;
    	}
    	#invitePartnerList > div > img {
    		border-radius: 35px;
    	}
    	#invitePartnerList::-webkit-scrollbar{
    		width: 1px
    	}
    	#invitePartnerList::-webkit-scrollbar-thumb{
    		border-radius: 5px;
      		background-color: #393731;
    	}
    	#invitePartnerList::-webkit-scrollbar-trace{
    		border-radius: 5px;
      		background-color: #white;
    	}
    	#invitePartnerList > div {
    		padding: 5px; border-radius:5px; width:260px; margin: 5px 10px 0px 0px;
    	}
    	#invitePartnerList > div > img {
    		width:10px; height:10px;
    	}
    	#invitePartnerList > div > span {
    		color:gray;
    	}
    	.participantBox {
    		float:left; padding: 5px; background-color:rgb(245,245,245); border-radius:5px; width:180px; margin: 10px 10px 0px 0px;
    	}
    	.participantBox > img {
    		width:10px; height:10px; border-radius: 35px;
    	}
    	.closeInviteBox {
    		width: 20px; 
            height:20px; 
            margin-left: 378px; 
            margin-top: 2px; 
            margin-bottom: 2px; 
            padding: 0px;
            border:none;
            background-color:white;
    	}
    	.inviteChattingMemberBtn {
       		margin-top:1px; height:30px; width:180px; padding-top: 0px; padding-bottom: 0px; text-align:left; background-color:white; border:none; border-radius:5px;
       	}
       	#chatting_bottom > button {
       		width: 359px;
       		height: 25px;
			margin-left: 20px;
			color: white;
			background-color: rgb(217, 173, 43);
			border:none;
			border-radius:5px;
			font-size: 12px;
			margin-top: 10px;
       	}
       	#documentWriteBtn {
       		display: none;
       		margin-top:20px;
       	}
       	#chattingSearch {
       		width:210px; height: 25px; font-size:12px; background-color: #393731; color:white; border: 0.5px solid gray; border-radius: 3px;
       	}
       	
       	.filter-active {
       		filter: brightness(0) saturate(100%) invert(83%) sepia(67%) saturate(2404%) hue-rotate(331deg) brightness(89%) contrast(92%) !important;
       	}
       	#chattingFile {
       		display:none;
       	}
       	#chatting_bottom > form > label > img {
       		width:24px;
       		margin : 12px 0px 0px 2px;
       	}
       	.messageFile {
            width: 200px;
            height: 25px;
          	border: 2px solid gray;
          	border-radius: 5px;
          	padding: 5px;
          	margin-bottom:5px;
        }
        .messageFile > img {
          	width:25px;
          	float:left;
        }
        .messageFile > span {
          	float:left;
          	width: 170px;
          	white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }
        .messageLink {
          	width: 200px;
          	height: 35px;
          	border: 2px solid gray;
          	border-radius: 5px;
          	margin-bottom:5px;
        }
        .linkImgBox > img {
          	width:25px;
        }
        .linkImgBox {
          	float:left;
          	border-radius:5px;
          	width: 35px;
          	height: 35px;
        }
        .linkContent {
          	width:155px;
          	height:35px;
          	float:left;
          	border-left:1px solid gray;
        }
        a {
        	text-decoration : none;
        	color:blue;
        }
        .chattingLinkA {
        	
        	display:block;
        	margin-left:5px;
        	width:200px;
        	white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }
        .linkContent > p {
          	margin:2px 0px 0px 2px;
          	width:150px;
          	white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
        }
        #loginIdInput, #chattingRoomIdInput {
        		display:none;
        }
