@charset "EUC-KR";
    *{
        box-sizing: border-box;
        outline:none;
        margin:0;
        padding:0;
        font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;   
    }
    #payment_b input, button{
        border:none;
        font-size:20px;
    }
    .row{
        display:flex;
        flex-direction: row;
    }
    .column{
        display:flex;
        flex-direction:column;
    }
    .hidden{
        visibility:hidden;
        opacity:0;
    }
    .modal_payment{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        z-index: -1;
        position: fixed;
        /* touch-action: none; */
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-tap-highlight-color: transparent;
        transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }
    .modal_payment_content{
        /* position:relative; */
        background:rgb(255,255,255);
        box-shadow:0px 11px 15px -7px rgb(0 0 0 / 20%), 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
        border-radius: 4px;
        width:580px;
        height:570px;
        padding:28px;
    }
    .payment_title{
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: rgb(34, 34, 34);
    }
    .closing_bnt{
        padding-left: 0;
        padding-right: 0;
        cursor: pointer;
        transition: fill 0.2s ease 0s;
        background-color: transparent;
        fill: rgb(136, 136, 136);
        border:none;
    }
    .closing_bnt:hover{
        fill:rgb(86, 86, 86);
    }
    #create_workspace label{
        display: block;
        font-size: 12px;
        font-weight: bold;
        color: rgb(136, 136, 136);
        padding-bottom: 10px;
    }
    .payment_type{
        margin-top:25px;
        font-weight:bold;
        font-size:30px;
    }
    .payment_summary{
        margin-top:8px;
        color: rgb(136, 136, 136);
        font-size:14px;
        line-height:1.4;
    }
    .payment_style1{
        justify-content:space-between; 
        align-items:center; 
        margin-top:42px;
    }
    .payment_style3{
        border-bottom:1px solid rgb(225,225,225);
        justify-content:space-between; 
        margin-top:12px;
        padding-bottom: 10px;
    }
    .payment_style3 input::placeholder{
        line-height: 1.5;
        font-size: 20px;
        color: rgb(194, 193, 193);
        font-family: Open Sans, Segoe UI, sans-serif;
    }
    .payment_style4{
        font-size:12px; 
        font-weight: bold; 
        color:rgb(136, 136, 136);
    }
    .payment_bnt{
        color:rgb(255,255,255);
        width:100%;
        height:45px;
        border-radius:4px;
        border-color: 1px solid rgb(217, 173, 43);
        background-color: rgb(217, 173, 43);
        font-size:14px;
        font-weight:bold;
        cursor:pointer;
        margin-top:45px;
        transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.4s ease 0s, fill 0.2s ease 0s, opacity 0.2s ease 0s;
    }
    .payment_bnt:hover{
        background-color: rgb(179, 142, 34);
        border-color: rgb(179, 142, 34);
    }
    .none{
        display:none;
        opacity:0;
    }
