@charset "EUC-KR";
	.postedHeader{
		position:fixed; 
	    top: 0px;
		z-index:113;
	    width: 100%;
	    height: 72px;
		justify-content:space-between;
	    padding: 15px 24px 12px 16px;
	    background-color: rgb(255, 255, 255);
	    -webkit-box-pack: justify;
	    -webkit-box-align: center;
	    align-items: center;
	    border-bottom: 1px solid rgb(225, 225, 225);
	}
	.postedMore{
	    cursor:pointer;
	    top:0;
	    width:24px; 
	    height:24px;
	    background-color:transparent;
	    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgb(136,136,136)' %3E%3Cpath d='M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z'%3E%3C/path%3E%3C/svg%3E");
	}
	.postedDel{
	    box-shadow:0 0 8px 2px rgb(0 0 0 / 10%);
	    font-size:13px;
	    border:1px solid #e1e1e1;
	    border-radius:4px;
	    position:absolute;
	    width: 190px;
	    padding:15px 20px;
	    background-color:rgb(255,255,255);
	    transform: translate3d(-20px, 45px, 0px);
	    cursor:pointer;
	    z-index:100;
	}
	.postedDel:hover{
		background-color:#f2f2f2;
	}
	.historyBack{
		width: 16px;
	    height: 16px;
	    font-size: 16px;
    	cursor: pointer;
    	margin:20px;
    	padding-right:10px;
	}
	.arrow {
	    position: relative;
	}
	.arrow::after {
	    position: absolute;
	    left: 0; 
	    top: 0; 
	    content: '';
	    width: 10px; 
	    height: 10px; 
	    border-top: 2px solid rgb(136,136,136); 
	    border-right: 2px solid rgb(136,136,136); 
	    transform: rotate(225deg); 
	}
	.postedAlarm{
		width:20px;
		height:20px;
		/*색없는 알람*/background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24'%3E%3Cpath fill='%23bdbab7' d='M13.99 19.5c0 .28-.05.54-.15.78-.26.6-.79 1.04-1.44 1.18-.087.02-.173.031-.263.036L12 21.5c-1.06 0-1.919-.82-2.003-1.851L9.99 19.5h4zM4 4.26l1.27-1.27L21 19.22l-1.27 1.27-1.916-1.99H4v-1l2-2v-5c0-1.266.275-2.444.8-3.44L4 4.26zm4.004 5.996L8 10.5v5.828l-.173.172h8.062L8.297 8.615c-.171.492-.271 1.042-.293 1.641zM12 2c.781 0 1.42.593 1.493 1.355l.007.145v.68c2.776.66 4.402 3.1 4.496 6.05l.004.27v2.577l-2-2.063V10.5c0-2.208-1.06-3.822-2.77-4.323l-.193-.051-1.036-.247-.795.189-1.565-1.614c.195-.08.399-.15.609-.21l.25-.064V3.5c0-.781.593-1.42 1.355-1.493L12 2z'%3E%3C/path%3E%3C/svg%3E");
		/*있는 알람*/background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' %3E%3Cpath d='M11.65 21c.99 0 1.8-.81 1.8-1.8h-3.6c0 .99.81 1.8 1.8 1.8zm5.85-5.4v-4.95A5.848 5.848 0 0 0 13 4.962V4.35C13 3.603 12.397 3 11.65 3c-.747 0-1.35.603-1.35 1.35v.612a5.848 5.848 0 0 0-4.5 5.688v4.95L4 17.4v.9h15.3v-.9l-1.8-1.8z' color='%23888888'%3E%3C/path%3E%3C/svg%3E");
		/*없는 북마크*/background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24'%3E%3Cpath fill-rule='evenodd' fill='%23bdbab7' d='M17 3c1.05 0 1.918.866 1.994 1.954l.006.157V22l-7-3.167L5 22l.01-16.889c0-1.108.81-2.024 1.841-2.105L7 3h10zm0 2H7c.014 0 .018.004.018.015l-.008.097L7.001 18.9 12 16.639l5 2.261V5.111c0-.06-.017-.092-.012-.105L17 5z'%3E%3C/path%3E%3C/svg%3E");
		/*있는 북마크*/background-image: url("data:image/svg+xml,%3Csvg width='20px' height='20px' viewBox='0 0 24 24'%3E%3Cpath fill='%23888888' fill-rule='evenodd' d='M17 3H7c-1.1 0-1.99.9-1.99 2L5 21l7-3 7 3V5c0-1.1-.9-2-2-2z'%3E%3C/path%3E%3C/svg%3E");
	}
	.postedSection {
	    width: 1px;
	    background-color: rgb(225, 225, 225);
	    margin: 0px 12px;
	}   
	.display_inherit{
		display: inherit;
	}
	.postedTitle{
		font-size: 14px;
	    font-weight: bold;
	    line-height: 24px;
	    color: rgb(34, 34, 34);
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	    overflow-wrap: break-word;
	    margin-left: 2px;
	} 
	.postedSecondTitle{
		display: flex;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
	    color: rgb(136, 136, 136);
	    font-size: 14px;
	    line-height: 24px;
	    padding-left: 2px;
	    text-align:center;
	}
	.postedBnt1{
		height: 24px;
	    font-size: 14px;
	    color: rgb(136, 136, 136);
	    line-height: 1.71;
	    background-color: transparent;
	    margin-left: -2px;
	    padding: 0px 3px;
	    border-radius: 4px;
	    display: flex;
	    flex-direction: row;
	    -webkit-box-align: center;
	    align-items: center;
	    cursor:pointer;
	}
	.postedBnt1:hover, .postedBnt1:active{
		background-color: rgb(247, 246, 245);
	}
	.postedImg{
		width: 18px;
	    height: 18px;
	    border-radius: 50%;
	    position: relative;
	    flex-shrink: 0;
	    line-height: 1;
	    overflow: hidden;
	    border: 0;
	    box-sizing: initial;
	    cursor: pointer;
	    background:transparent;
	    margin-top: 7px;
    	margin-right: 5px;
	}
	.posting_bnt {
	    color: rgb(255, 255, 255);
	    font-size: 12px;
	    font-weight: 500;
	    border-radius: 4px;
	    background-color:rgb(51, 132, 108);
	    cursor: pointer;
	    width: 105px;
	    height: 28px;
	    border: 1px solid rgba(255, 255, 255, 0.2);
	    margin-right: 80px;
	    transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.4s ease 0s, fill 0.2s ease 0s, opacity 0.2s ease 0s;
	}
	.posting_icon{ 
		fill: rgb(255, 255, 255);
		width:13px;
		height:13px;
	}
	.icon_color{
	    fill:rgb(136,136,136);
	    cursor:pointer;
	}
	.postBnt2{
		 margin-top:3px; 
		 margin-left:4px;
		 cursor:pointer;
	}
	.picList{ /*누르면 열리는 협업공간 멤버 목록*/
        height:180px;
        width:240px;
        line-height: 2.3;
        cursor: pointer;
        transition: color 0.2s ease 0s, background-color 0.2s ease 0s;
        position:fixed;
        top: 60px;
   	 	left: 195px;
        font-size:14px;
        color:rgb(34, 34, 34);
        border-radius:4px;
        padding:1px;
        z-index:115;
        overflow-y:auto;
        box-shadow:rgb(0 0 0 / 10%) 0px 0px 6px 2px;
	    border: 1px solid rgb(225, 225, 225);
		background-color: rgb(255, 255, 255);
     }
     .picList ul{
         list-style: none;
         padding-top: 12px;
         padding-left: 16px;
     }
     /* .picList li{
         margin-left:27px;
     } */
     .picList li:hover{
     	background-color: rgba(242, 242, 242, 0.4);
     }
     .picture_sch{
         width: 20px;
         height:20px;
         border-radius:50%;
         background-color:rgb(255, 255, 255);
         content:"";
         background-size:cover;
        /*  position:absolute; */
         margin-top:5px;
         margin-right:10px;
     }
     .picture2_sch{ /*picture_sch보다 아래 있어야함*/
         position:unset; 
         margin: 0px 5px 0px 0px;
     }
	 ::-webkit-scrollbar {
        width:4px;
        height:4px;
     }
     ::-webkit-scrollbar-thumb {
		height: 20%;  /*스크롤바의 길이*/ 
        background: #e1e1e1; /* 스크롤바의 색상*/ 
        border-radius:2px;
     }
/* ta */
	.fileImg, .LinkImg {
		vertical-align:bottom;
		width: 13px;
		filter: brightness(0) saturate(100%) invert(50%) sepia(5%) saturate(4258%) hue-rotate(7deg) brightness(85%) contrast(88%);
		margin-right:5px;
	}
	.fileA, .linkA {
		text-decoration: none;
		white-space: nowrap;
        overflow: hidden;   
        text-overflow: ellipsis;
        width:260px;
	}
	.fileA {
		color: rgb(133,111,46)
	}
	.linkA {
		color: rgb(2,136,209);
	}
    #comment {
        width: 380px;
        height:875px;
        background-color: #fafafa;
        float: right;
        margin-top: 70px;
        display:none;
    }
    #comments {
        margin-top: 10px;
        margin-left: 20px;
        width:360px;
        height:650px;
        overflow: auto;
    }
    #comments::-webkit-scrollbar{
        width: 5px;
    }
    #comments::-webkit-scrollbar-thumb{
        background-color: #e1e1e1;
        border-radius: 5px;
    }
    #comments::-webkit-scrollbar-track{
        background-color: #e1e1e1;
        border-radius: 5px;
    }
    .profile {
        width:22px;
        float: left;
        border-radius: 35px;
    }
    .information {
        padding: 0px;
        margin: 0px;
        margin-left: 25px;
        font-size: 12px;
        margin-top: 5px;
    }
    .recommentBtn {
        width:60px;
        font-size: 12px;
        padding: 0px;
        margin-left: 25px;
        margin-top: 10px;
    }
    #commentwrite {
        width: 380px;
        height: 175px;
    }
    #textbox {
        border: none;
        width: 318px;
        text-align:start;
        margin-top: 5px;
    }
    #checkbox {
        margin-left: -76px; 
        width:10px;
    }
    .checkboxCotent {
        font-size: 12px;
        vertical-align: center;
        margin-top: 0px;
        padding: 0px;
    }
    #save {
        margin-left: 268px;
        margin-bottom: 10px;
        border: none;
        background-color: #d3d3d3;
        color:white;
        border-radius: 5px;
        height:25px;
        width: 40px;
        font-size: 12px;
        float:left;
        margin-top:-31px;
    }
    .recommentContent {
        padding: 0px;
        font-size: 12px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #clickRecomment{
        width:320px;
        height: 45px;
        border-bottom: 1px solid #d3d3d3;
    }
    #recommentXbtn {
        float: right;
        width: 20px;
        height: 20px;
        padding: 0px;
        margin-top: 5px;
        border:none;
        background-color:white;
    }
    #buttonImg {
        width: 20px;
        filter: brightness(0) saturate(100%) invert(0%) sepia(86%) saturate(2941%) hue-rotate(215deg) brightness(85%) contrast(110%);
    
    }
    #fileUpload > label > img {
	    width:24px;
	    margin : 90px 0px 0px -4px;
    }
    #fileUpload {
    	margin-top:5px;
    }
    #loginIdInput, #documentIdInput, #commentFile {
    	display:none;
    }
    .comment {
    	margin-bottom:20px;
    }
