@charset "EUC-KR";
    *{
        box-sizing: border-box;
        outline:none;
        margin:0;
        padding:0;
        font-family: -apple-system,BlinkMacSystemFont,Malgun Gothic,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,MS PGothic,sans-serif,Dotum;   
    }
    input, button{
        border:none;
        font-size:20px;
    }    
    a{
        text-decoration:none;
        color:rgb(34,34,34);
    }
    .transaction{
        flex: 1 0 auto;
        width: calc(100vw - 200px);
        height: 100%;
        padding: 40px 40px 0px;
        overflow: auto;
    }
    .transaction_section{
        max-width: 1120px;
        min-width: 770px;
        height:100%;

    }
    .column{
        display:flex;
        flex-direction:column;
    }
    .row{
        display:flex;
        flex-direction:row;
    }
    .transaction_back{
        transition: fill 0.2s ease 0s;
        cursor: pointer;
    }
    .transaction_back:hover svg path{
        fill: rgb(83, 83, 83);
        transition:fill 0.2s ease 0s;
    }
    .transaction_style1{
        position: relative;
        font-size: 18px;
        font-weight:bold;
        line-height: 1.22;
        color: rgb(34, 34, 34);
        padding-bottom: 4px;
    }
    .transaction_style2{
        font-size: 12px;
        line-height: 1.5;
        color: rgb(136, 136, 136);
        padding-top: 14px;
    }
    table{
        margin-top:40px;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;
        color: rgb(34, 34, 34);
        line-height: 1.54;
        background-color: rgb(255, 255, 255);
        margin-bottom: 40px;
    }
    thead > tr > th{
        font-size: 12px;
        font-weight: bold;
        padding: 14px 3px;
        text-align: left;
        border-bottom: 1px solid rgb(225, 225, 225);
    }
    thead > tr > th:nth-child(1){
        width: 87px;
        padding-left: 10px;
    }
    thead > tr > th:nth-child(7){
        width: 59px;
    }
    thead > tr > th:last-child{
        width: 62px;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    tbody > tr > td{
        font-size:12px;
        padding: 14px 3px;
        border-bottom-color: rgba(255, 255, 255, 0) !important;
        border-bottom: 1px solid rgb(225, 225, 225);
        line-height: 1.54;
        height: calc(100vh - 270px);
    }
    /* 스크롤 */
    ::-webkit-scrollbar {
        width: 4px;
        height:4px;
    } 
    ::-webkit-scrollbar-track{
        -webkit-box-shadow: none;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: #e1e1e1;
    }
